 body {
     background-color: black;
 }

 #main {
     margin: 30px;
     padding-right: 10px
 }
 .form-control {
    display: block;
    width: 120%;}

.btn{
    font-weight: 800;
    font-size: 2rem;
}